*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Helvetica Neue",Helvetica,Arial; */
}
.wrapper{
    display: flex;
    justify-content:center;
    align-items:center;
}
.logo{
    width: 200px;
    height: 100px;
}
.h1{
padding-top: 10px;

}
/* Base styles for the form */
.form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
   
}

.form div {
    margin-bottom: 1rem;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
input[type="email"],
input[type="text"],
input[type="password"],
input[type="number"] {
    padding: 0.5rem;
    border: 1px solid #39387E;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 0.5rem;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
background-color: #39387E;
}
input:focus{
    outline-color: #39387E;
}
.link{
    color: #39387E;
}

.signupbtn {
    padding: 0.75rem 1.5rem;
    background-color: #39387E;
    border: none;
    width: 100%;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.signupbtn:hover{
    background-color: #4443a2;
}

/* Responsive design */
@media (max-width: 600px) {
    .form {
        padding: 0.5rem;
        box-shadow: none;
        margin: 12px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"] {
        font-size: 0.875rem;
    }

    button {
        font-size: 0.875rem;
    }
}
/* Ensure the table is wrapped in a container for responsiveness */
.table-responsive {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 20px;
    -webkit-overflow-scrolling: touch; /* Enable scrolling on touch devices */
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    border: 1px solid #ddd;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .styled-table thead {
        display: none; /* Hide the header */
    }

    .styled-table tbody td {
        display: block;
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .styled-table tbody td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
    }
}
